.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.py_cache/
.idea/
docs/_build/
.vscode

uploads
html
json
lib/visualization/datasets
data
/models



# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover