@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../screenstyles.scss";

.content {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 5px;
  width: 100%;
  padding: 1rem;
}

.clear{
  position: fixed;
    right: 3rem;
    top: 80px;
}
.tablecontainer {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 52vh;
  margin-bottom: 1rem;

  th {
    color: white;
    font-weight: normal;
  }

  td {
    text-align: center;
  }
  thead{

    color: white;
      font-weight: normal;
  }
}


.legend {
  color: #888;
  margin: 0;
  font-size: 0.8rem;
}
