@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../screenstyles.scss";

.nav {
  background-color: white;
  border: 1px solid #eee;
  width: 100%;
  padding: 0.7rem;
  border-radius: 5px;
  margin: 0;
  font-size: 1.2rem;
  span{
    color: #fff;
    background-color: #1769aa;
  padding: 0.7rem;
  border-radius: 5px;
  margin-left: -11px;

  }
}

.content {
  background-color: white;
  // height: 100px;
  // overflow-y: auto;
  border: 1px solid #eee;
  border-radius: 5px;
  width: 100%;
  margin: 1rem 0 0.5rem;
  padding: 1rem;
}


.datasetname{
  font-family:Rubik;
  font-size:1.2rem ;
 
  span{
    color:rgb(9, 7, 97);
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.cardcounter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 10px 0px;
    padding: 20px 20px;
    background-color: #fff;
    height: 120px;
    border-radius: 10px;
    transition: .3s linear all;
  &:hover{
    box-shadow: 4px 4px 20px #dfd7d7;
    transition: .3s linear all;
  }
 &.primary{
    background-color: #007bff;
    color: #FFF;
  }
  &.danger{
    background-color: #ef5350;
    color: #FFF;
  }  
  &.success{
    background-color: #66bb6a;
    color: #FFF;
  }  
  &.info{
    background-color: #26c6da;
    color: #FFF;
  }  
  & i{
    font-size: 5em;
    opacity: 0.2;
  }
}
.countnum{
  color:white;
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 21px;
    display: block;
  }
  .countname{
    color:white;
    position: absolute;
    right: 40px;
    top: 55px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.7;
    display: block;
    font-size: 20px;
  }
  .countname2{
    top: 75px;
  }

  .metrics{
    span{
      color: #090761;
      font-size: 16px;
    }
  }
.err{
  background-color: rgb(231, 52, 52);
  height: 4rem;
  width:100%;
  margin:2rem;
  padding:2rem;
  color:white;
}
  ul {
    list-style-type: circle;
  }
  li{
    span{
      b{
        min-width: 30px;
      }
    }
  }
  .space{
      &:after {
        content: '\200b';
    }
  }

.infotable{
  width:90%;
  margin:2rem 3rem;
  text-transform: capitalize;

  .btn{
    padding:0;
  }
}