<!doctype html>
<html >
  <head>
    <meta charset="utf-8">
    <title>Mail Confirmation</title>
  </head>
  <body>   
     <section style="  width: 850px;
     height: 350px;
     background-color: #1769aa;
     position: absolute;
     top:0;
     bottom: 0;
     left: 0;
     right: 0;
     font-size:22px;
     margin: auto;
     color:white;
     text-align:center";
    >
        <div class="row">
          <div class="columns">
            <p>The confirmation link is invalid or has expired:</p>
            <p><a href="http://localhost:3000/auth/login">Login to DATAGENIE</a></p>
            <br> 
          </div>
        </div>
  	 </section>
  </body>
</html>