@import "./colors.scss";
$theme-colors: (
  "primary": $primary-color,
  "primary-light": $primary-color-light,
);

* {
  font-family: roboto;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 3px;
  }
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
