@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../screenstyles.scss";

span{
    font-size: 20px;
    color:rgb(9, 7, 97)
}

.subtitles{
    max-width: 1050px;
}
table{
  background-color: white;
}
.cardcounter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 15px;
    padding: 20px 20px;
    background-color: #fff;
    height: 120px;
    border-radius: 5px;
    transition: .3s linear all;
  &:hover{
    box-shadow: 4px 4px 20px #dfd7d7;
    transition: .3s linear all;
  }
 &.primary{
    background-color: #007bff;
    color: #FFF;
  }
  &.danger{
    background-color: #ef5350;
    color: #FFF;
  }  
  &.success{
    background-color: #66bb6a;
    color: #FFF;
  }  
  &.info{
    background-color: #26c6da;
    color: #FFF;
  }  
  & i{
    font-size: 5em;
    opacity: 0.2;
  }
}